body {
	font-family: Helvetica;
 }

 * {
  box-sizing: border-box;
}

h1 {
	text-align: center;
	font-color: #204B57;
  font-style: bold;
 }

.box {
  float: left;
  border: 10px solid rgb(255, 255, 255);
  background-color: gray;
}

.inside_box {
  border: 1px solid black;
}

p {
  padding: 10px;
}

@media (min-width: 992px) {
  .box_1 {
    width: 33.33%;
  }
  .box_2 {
    width: 33.33%;
  }
  .box_3 {
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .box_1 {
    width: 50%;
  }
  .box_2 {
    width: 50%;
  }
  .box_3 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .box_1 {
    width: 100%;
  }
  .box_2 {
    width: 100%;
  }
  .box_3 {
    width: 100%;
  }
}

#header1 {
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 70%;
  margin-bottom: 1%;
  padding-right: 0%;
  background-color: #d59898;
  border: 1px solid black;
  text-align: center;
  color: black;
}

#header2 {
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 70%;
  margin-bottom: 1%;
  background-color: #c14543;
  border: 1px solid black;
  color: white;
  text-align: center;
}

#header3 {
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 70%;
  margin-bottom: 1%;
  background-color: #e5d198;
  border: 1px solid black;
  text-align: center;
  color: black;
}